.statGridContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  background-color: rgb(243, 243, 243);
}

.statGridItem {
  flex: 1 0 20%; /* 4 items per row */
  min-width: 25%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  box-sizing: border-box;
}

.pieChartContainer {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
