/* .statGridContainer {
  display: flex;
  flex-direction: column; /* stack items vertically
  gap: 10px;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.statGridItem {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
} */

.statGridContainer {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  width: 100%;
  padding: 10px;
  background-color: rgb(243, 243, 243);
}

.statGridItem {
  flex: 1 0 20%; /* 4 items per row */
  min-width: 25%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(240, 240, 240);
  box-sizing: border-box;
}



/* Responsive fallback for medium screens (2 per row) */
@media (max-width: 1250px) {
  .statGridItem {
    flex: 1 1 50%;
    max-width: 100%;
  }

  .statGridItem {
    /* flex: 1; */
    padding: 10px;
    max-width: 100%;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    box-sizing: border-box;
  }
}
